<div class="container">
    <!-- String Interpolation -->
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <p>Total Price: {{ price }}</p>
    <p>Discount: {{ discount }}</p>
    <p>Price After Discount: {{ price - discount }}</p>
  
    <!-- Property Binding -->
    <img [src]="imageUrl" alt="Angular Logo" width="150">
    <input [value]="inputText" />
  

    <!-- Class and Style Binding -->
    <div [ngClass]="{ 'highlight': isHighlighted }" 
         [ngStyle]="{ 'background-color': bgColor, 'color': textColor }">
      Highlighted content area
    </div>
  </div>